.Person {
    width: 60%;
    margin: 16px auto;
    margin-bottom: 100px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(7, 0, 0);
    padding: 16px;
    text-align: center;
    background: #eadfdf;
    overflow: scroll;
}

  
.input {
  width: 400px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 24px;
}


@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}